rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // 誰でも画像を表示・ダウンロード可能
    // アップロードや削除は認証済みのユーザーのみ許可
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
  }
}
